{%- assign color = color -%}
{%- assign url = url | default: section.settings.button_url -%}
{%- assign type = type | default: 'solid' -%}
{%- assign bg_color = bg_color | default: '' -%}
{%- assign text_color = text_color | default: '' -%}
{%- assign size = size -%}
{%- assign disable_link = disable_link | default: false -%}

{% liquid
  # Build inline style if custom colors are provided
  if bg_color != blank or text_color != blank
    assign inline_style = 'style="'
    if bg_color != blank
      assign inline_style = inline_style | append: 'background-color: ' | append: bg_color | append: ';'
    endif
    if text_color != blank
      assign inline_style = inline_style | append: ' color: ' | append: text_color | append: ';'
    endif
    assign inline_style = inline_style | append: '"'
  else
    assign inline_style = ''
  endif

  # Determine element tag
  if disable_link
    assign element_tag = 'span'
  else
    assign element_tag = 'a'
  endif
%}

{% case type %}
  {% when 'outline' %}
    <{{ element_tag }}
      {% unless disable_link %}
        href="{{ url }}"
      {% endunless %}
      class="
        el_btn_tag
        {% if color != blank %} el_btn_{{ color }}{% endif %}
        {% if size != blank %} el_btn_tag_{{ size }} {% endif %}
        el_btn_tag_outline
      "
    >
      <div class="el_btn_tag_outline_mark w-6 h-full block" {{ inline_style }}></div>

      <p class="w-full justify-self-center px-1 py-2 whitespace-nowrap">{{ label }}</p>
    </{{ element_tag }}>

  {% when 'tag' %}
    <span
      class="
        el_btn_tag
        {% if color != blank %} el_btn_{{ color }}{% endif %}
        el_btn_tag_hash
      "
    >
      <div class="m-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="16" height="16">
          <path d="m240-160 40-160H120l20-80h160l40-160H180l20-80h160l40-160h80l-40 160h160l40-160h80l-40 160h160l-20 80H660l-40 160h160l-20 80H600l-40 160h-80l40-160H360l-40 160h-80Zm140-240h160l40-160H420l-40 160Z"  fill="#666" stroke="#666" stroke-width="40"/>
        </svg>
      </div>
      <p class="w-full justify-self-center whitespace-nowrap">{{ label }}</p>
    </span>

  {% else %}
    <{{ element_tag }}
      {% unless disable_link %}
        href="{{ url }}"
      {% endunless %}
      class="
        el_btn_tag
        {% if color != blank %} el_btn_{{ color }}{% endif %}
        {% if size != blank %} el_btn_tag_{{ size }}{% endif %}
      "
      {{ inline_style }}
    >
      <p class="w-full justify-self-center">{{ label }}</p>
    </{{ element_tag }}>
{% endcase %}
