<div class="ly_footer_catch-copy min-h-[300px] w-full">
  <div class="p-auto">
    {% if section.settings['catch-copy'] != blank %}
      <p class="el_head_lg">{{ section.settings['catch-copy'] }}</p>
    {% endif %}
  </div>
</div>
<footer>
  <div class="footer__copyright">
    &copy;
    {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url }}, {{ powered_by_link }}
  </div>

  <div class="footer__links">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="footer__payment">
    {% if section.settings.show_payment_icons %}
      {% for type in shop.enabled_payment_types %}
        {{ type | payment_type_svg_tag }}
      {% endfor %}
    {% endif %}
  </div>
</footer>

<style>
  .ly_footer_catch-copy {
    background-image: {{ section.settings.catch-copy_image}};
  }
</style>

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "catch-copy_image",
      "label": "キャッチコピー背景画像"
    },
    {
      "type": "text",
      "id": "catch-copy",
      "label": "キャッチコピーテキストを入力"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
