{%- style -%}
  .hero {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .hero-main {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }

  .hero-main img {
    border-radius: 0;
  }
  .hero-thumbs {
    position: relative;
  }

  .hero :global(.button_primary) {
    position: absolute;
    bottom: 2%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
  }
{%- endstyle -%}

<div class="image-banner-section">
  <div class="hero">
    <!-- メインスライダー -->
    <div class="hero-main swiper-main">
      <div
        class="swiper"
        data-swiperSlidePC="1"
        data-swiperSlideSP="1"
        data-swiperShowNavigation="true"
      >
        <div class="swiper-wrapper">
          <!-- 追加の画像ブロック -->
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'image' -%}
                {%- if block.settings.image != blank -%}
                  <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <img
                      src="{{ block.settings.image | image_url: width: 1200 }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      loading="lazy"
                      style="object-fit: cover;"
                    >
                  </div>
                {% else %}
                  <div class="swiper-slide" {{ block.shopify_attributes }}>
                    <img
                      src="{{ 'tokura-hero_1' |  append: '.webp' | asset_url }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      loading="lazy"
                      style="object-fit: cover;"
                    >
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "image",
      "name": "画像",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "カードスライダー",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
