<section>
  <div class="bg-primary text-on-primary pb-20">
    {% comment %} wrapper {% endcomment %}
    <div class="ly_cont ly_cont_section_bg ">
      {% comment %} title {% endcomment %}
      <h1 class="top-about_title relative z-10 text-black sr-only">
        <span>「自然のまま」が、いちばんおいしい。</span>
      </h1>
      <div class="top-about_title relative z-10 text-black">
        <div class="top-about_textBox absolute -top-20 right-0 flex flex-row-reverse items-start gap-2">
          <div class="bg-white-transparent p-3 un_verticalLabel el_head_xl w-fit">
            <p><span class="un_quote">「</span>自然のまま」が、</p>
          </div>
          <div class="bg-white-transparent p-3 un_verticalLabel el_head_xl w-fit">
            <p>いちばんおいしい。</p>
          </div>
        </div>
      </div>
      {% comment %} /title {% endcomment %}
    </div>
    {% comment %} /wrapper {% endcomment %}
    {% comment %} swiper {% endcomment %}
    <div class="top-about_swiper">
      <div
        class="swiper"
        data-swiperSlidePC="4"
        data-swiperSlideSP="1.2"
        data-swiperShowNavigation="false"
        data-autoScroll="true"
        data-autoScrollDelay="0"
        data-autoScrollContinuous="true"
        data-loop="true"
        data-spaceBetween-sp="0"
        data-spaceBetween-pc="0"
        data-scrollSpeed="8000"
      >
        <div class="swiper-wrapper">
          <!-- 追加の画像ブロック -->
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'image' -%}
                {%- if block.settings.image != blank -%}
                  <div class="swiper-slide aspect-square" {{ block.shopify_attributes }}>
                    <img
                      src="{{ block.settings.image | image_url: width: 1200 }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      width="1200"
                      height="800"
                      loading="lazy"
                      class="object-cover h-full"
                    >
                  </div>
                {% else %}
                  <div class="swiper-slide aspect-square" {{ block.shopify_attributes }}>
                    <img
                      src="{{ 'image-block_default' |  append: '.webp' | asset_url }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      width="1200"
                      height="800"
                      loading="lazy"
                      class="object-cover h-full"
                    >
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% comment %} /swiper {% endcomment %}
    <div class="ly_cont ly_cont_block ">
      {% comment %} description {% endcomment %}
      <div class="top-about_content flex flex-col gap-10 lg:flex-row justify-between lg:items-end">
        <div class="flex flex-col items-start gap-2">
          <div class="bg-white-transparent text-black el_head_bg el_head_md">
            <p>秋田の大自然が育てた恵みを、</p>
          </div>
          <div class="bg-white-transparent text-black el_head_bg el_head_md">
            <p>心をこめてやさしく仕上げました。</p>
          </div>
          <div class="font-semibold mt-4">
            <p>秋田で生まれた「自然の便り」は、 無添加にこだわり、素材の味と香りをそのままにお届けします。</p>
            <p>自然の力を信じ、ていねいに仕上げた、やさしい食のかたちです。</p>
          </div>
        </div>
        <div class="self-end">
          {% render 'el_button', type: 'outline', label: '自然の便りについて', size: 'md', with_arrow: true %}
        </div>
      </div>
      {% comment %} /description {% endcomment %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "about",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "url",
      "id": "about_url",
      "label": "リンク先URL",
      "info": "ボタンのリンク先を指定します"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "画像",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "カードスライダー",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
