<section>
  {% comment %} wrapper {% endcomment %}
  <div class="ly_cont ly_cont_section">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-12 lg:gap-0">
      {% comment %} heading {% endcomment %}
      <div class="un_roots_heading w-full lg:col-span-4 flex flex-col gap-6">
        <div class="un_roots_title bg-tertiary-variant text-on-tertiary-variant  px-2 md:px-2 py-4 flex lg:flex-col items-center md:items-start justify-between">
          <h2 class="el_head_xl">Roots</h2>
          <p class="md:mt-4 text-right md:text-left el_head_sm">
            故郷の畑で収穫した恵み<br>
            素材から伝わる想い
          </p>
        </div>
        <div class="un_roots_sub_title md:mr-2">
          <div class="text-2xl font-bold">
            大切にしているのは、<br>
            自然にできるだけ手を加えないこと
          </div>
          <div class="mt-6">
            <p class="text-base font-bold">
              秋田の豊かな気候と土が育んだ野菜や果物を、 乾燥や冷凍など、シンプルな方法で加工しています。
            </p>
            <p class="mt-2 text-base font-bold">
              余計なものは足さず、 素材そのものの甘みや香り、色合いを生かす。 それが「自然の便り」のものづくりです。
            </p>
            <p class="mt-10 text-base font-bold">あなたの食卓に、“自然の便り”を届けます。</p>
          </div>
        </div>
      </div>
      {% comment %} /heading {% endcomment %}
      {% comment %} swiper {% endcomment %}
      <div class="lg:col-span-8">
        <div
          class="swiper"
          data-swiperSlidePC="1"
          data-swiperSlideSP="1"
          data-swiperShowNavigation="true"
        >
          <div class="swiper-wrapper">
            <!-- 追加の画像ブロック -->
            {%- for block in section.blocks -%}
              {%- if block.settings.image != blank -%}
                <div class="swiper-slide relative" {{ block.shopify_attributes }}>
                  <div class=" ">
                    <img
                      src="{{ block.settings.image | image_url: width: 1200 }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      loading="lazy"
                      style="object-fit: cover;"
                      class="aspect-4/3"
                    >
                  </div>

                  <div class="swiper-body un_swipe_body_roots">
                    <div class="el_head_lg md:text-right">
                      {{ block.settings.title }}
                    </div>
                    <div class="font-bold mt-4 ml-auto">
                      <p class="text-right">
                        {{ block.settings.description | newline_to_br }}
                      </p>
                    </div>
                  </div>
                </div>
              {% endif %}
            {%- endfor -%}
          </div>
          {% render 'bl_swiper_controls' %}
        </div>
        {% comment %} /swiper {% endcomment %}
      </div>
    </div>
    {% comment %} /.flex {% endcomment %}
  </div>
  {% comment %} /.ly_cont {% endcomment %}
</section>

{% schema %}
{
  "name": "ルーツ・こだわり",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "slide",
      "name": "スライド",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "画像"
        },
        {
          "type": "text",
          "id": "title",
          "label": "タイトル",
          "default": "地元野菜をふんだんに使いました"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "説明文",
          "default": "私たちの商品は..."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "スライダーコンテンツ",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
